.App {
    text-align: center;
    
   
    
}
.App-header {
    background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color:white; */
  font-size: large;
}


/*  */

.todo-container {

}

.input-todo-text{

    color: burlywood;
    background-color: black;
    padding: 20px 30px;
    border: 2px solid greenyellow;
    border-radius: 5px;
}

.add-todo-button {

    color: burlywood;
    background-color: black;
    padding: 20px 30px;
    border: 2px solid greenyellow;
    border-radius: 5px;
 
}
.add-todo-button:hover {
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

.todo-item-text{
    padding: 20px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 10px;
    transition: 0.4s all;

    
}

.todo-item-text:hover {
    transition: 0.4s all;
    cursor: pointer;
    transform: scale(1.1);
}

.regles-container{
display: flex;
flex-direction: column;
align-items: stretch;
padding-bottom: 50px;

}
